.container {
  display: 'flex';
  flex:1;
  border: 5px solid black;
  margin-right: 5px;
}
.button {
    background-color: #2e93ff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0px;
  }
  
  .selected {
    background-color: #f03636;
  }
  .imgContainer {
    width:100px;
    height:100px
  }